<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GandalfHardcore Archer green sheet_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GandalfHardcore Archer green sheet_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{72,0},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GandalfHardcore Archer green sheet_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{128,0},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GandalfHardcore Archer green sheet_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{182,0},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GandalfHardcore Archer green sheet_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{242,0},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GandalfHardcore Archer green sheet_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{304,0},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{366,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a65aaa7e65bd024e85b16e0617ec0e56:f9171fc6a3b18877b9b57a0eaff89e8c:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
