<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,20}</string>
                <key>spriteSourceSize</key>
                <string>{12,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{0,20},{12,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{0,39},{12,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,19}</string>
                <key>spriteSourceSize</key>
                <string>{12,19}</string>
                <key>textureRect</key>
                <string>{{0,58},{12,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{12,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16f87f1d8ddb1daf4e6cb1c4110f6abe:c60ff16488ad464ac1e2c8ed3795e18a:86491c77568009ac2e89a4c927492403$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
